# Port configuration
PORT=3008

# Node environment
NODE_ENV=production

# CORS configuration
CORS_ORIGIN=http://localhost:3008

# Database configuration
DB_PATH=./db/data.sqlite

# API KEY
API_KEY=your_api_key

# Login credentials
USERNAME=admin
PASSWORD=your_secret_password
JWT_SECRET=your_jwt_secret_key